.ui-bg--violet {
	background-color: #ee8ffa;
}

.ui--violet {
	color: #ccbfce;
}

.ui-bg--tangelo {
	background-color: #f26d2b;
}

.ui--tangelo {
	color: #f26d2b;
}

.ui-bg--topaz {
	background-color: #ffbf68;
}

.ui--topaz {
	color: #ffbf68;
}

.ui-bg--aquamarine {
	background-color: #6befd0;
}

.ui--aquamarine {
	color: #6befd0;
}

.ui-bg--sasquatch {
	background-color: #ff507c;
}

.ui--sasquatch {
	color: #ff507c;
}

.ui-bg--orange {
	background-color: #f65335;
}

.ui--orange {
	color: #f65335;
}

.ui-bg--tangerine {
	background-color: #ffa50e;
}

.ui--tangerine {
	color: #ffa50e;
}

.ui-bg--black {
	background-color: #000000;
}

.ui--black {
	color: #000000;
}

.ui-bg--white {
	background-color: #ffffff;
}

.ui--white {
	color: #ffffff;
}
